*.nb.html
ArchRLogs
ArchRProj_Nvec_TSS4_frag200/ArchRProj/GeneScoreMatrix/Matrix-Gene-Scores-Dist-Var-Coacces-SEACell-FC.rds
CisBP/TF_Information_all_motifs.txt
CisBP/pwms
genome/Nvec_vc1.1_gDNA.fasta*
logs
Plots/Archetypes/norm/
Plots/Modules/modularization-ordered-*.pdf
Plots/Modules/modularization-global-FC*-ordered-*-subsampled.pdf
Results/Archetypes/motif-scores-archetypes*
Results/Archetypes/motif-scores-archetypes-PPM-PCC-0.8-IC0.5-5bp-mona.rds
Results/Archetypes/motif-scores-input-motifs*
Results/Archetypes/motif-similarity-PPM-PCC.rds
Results/Archetypes/norm/
Results/ChromVAR*/ArchetypesSEACellsMatrix/
Results/ChromVAR*/correlation-seacells-archetype-motif-score-gene-expression-metacell.rds
Results/ChromVAR*/correlation-seacells-archetype-motif-score-gene-score.rds
Results/Clustering/Footprint_Adult_Gastrula_Peaks_SEACell_qnorm.rds
Results/Clustering/Sum_Adult_Gastrula_Peaks_SEACell_qnorm.rds
Results/GeneScoreMatrix/Matrix-Gene-Scores-SEACell-FC.rds
Results/GRN/cell_type/grn_tf_targets_expression_accessibility.rds
Results/GRN/cell_type/peak_TF_expression_correlation_genes_exp_FC2_acc_FC4_spearman.rds
Results/GRN/metacell/insilico-chip-binding-score-genes_exp_FC2_acc_FC4_spearman.tsv.gz
Results/GRN/metacell/insilico-chip-grn-genes_exp_FC2_acc_FC4_spearman.rds
Results/GRN/metacell/insilicoChIPMatrix_metacell_genes_exp_FC2_acc_FC4_spearman/*/results-chromVAR.tsv
Results/GRN/metacell/insilicoChIPMatrix_metacell_genes_exp_FC2_acc_FC4_spearman/*/results-chromVAR-insilicoChIP.tsv
Results/GRN/metacell/motif_peak_correlation.rds
Results/GRN/metacell/peak_accessibility.rds
Results/GRN/metacell/peak_TF_expression_correlation_genes_exp_FC2_acc_FC4_spearman.rds
Results/GRN/metacell/peak_TF_expression_correlation.rds
Results/GRN/networks/grn_genes_expression_fc_0.4_accessibility_access_0.4_chromvar_4.tsv
Results/GRN/networks/grn_peaks_expression_fc_0.4_accessibility_access_0.4_chromvar_4.tsv
Results/Metacells/metacell/gene_expression_*.rds
Results/Metacells/metacell/gene_scores_*.rds
Results/Metacells/metacell/peak_accessibility_genes_*.rds
Results/Metacells/metacell/peak_footprint_genes_*.rds
Results/Modules/gene-FC*-correlations.rds
Results/Modules/gmod.wgcna.softPower*.gene_correlations.rds
Results/Modules/gmod.wgcna.softPower*.wgcna.rds
Results/Modules/GO/ics-hclust/results
Results/Modules/PFAM/ics-hclust/results
Results/Peaks/Matrix-Adult-Gastrula-Peaks-mapped-qnormalized.rds
Results/Peaks/Sum_Adult_Gastrula_Peaks_SEACell_qnorm.rds
Results/Syntax/fcactovl0.5
Results/Syntax/fcenrassignovl0.5ics
Results/Syntax/fcenrassignovl0.5
Results/Syntax/fcenrovl0.5
Results/Syntax/fcovl0.5
Results/Syntax/pvalenrovl0.5
Results/Syntax/README
Results/Syntax/scoreenrovl0.5
Results/Syntax/scoreenrovl0.8
Results/Syntax/scoreovl0.5
Results/Syntax/scoreovl0.8
Results/Syntax/motif-hits-all.tsv.gz
Results/Syntax/motif-hits-reduced.tsv.gz
Results/Syntax/motif-hits-selected.tsv.gz
