*.nb.html
annotation/DAPseq-*
apps/*/data/
apps/*/rsconnect/
ArchRLogs
ArchRProj_Nvec_TSS4_frag200/ArchRProj/GeneScoreMatrix/Matrix-Gene-Scores-Dist-Var-Coacces-SEACell-FC.rds
CisBP/TF_Information_all_motifs.txt
CisBP/pwms
data/2023-nematostella_whole_genome_conservation/*bw
data/2023-nematostella_whole_genome_conservation/phastcons.Nvec.phylop_tfbs.bed
data/2023-nematostella_whole_genome_conservation/phastcons.Nvec.phylop_windows.bed
genome/Nvec_vc1.1_gDNA.fasta*
logs
plots/Archetypes/norm/
plots/Modules/modularization-ordered-*.pdf
plots/Modules/modularization-global-FC*-ordered-*-subsampled.pdf
plots/Peaks/deeptools/
results/Archetypes/motif-scores-archetypes*
results/Archetypes/motif-scores-archetypes-PPM-PCC-0.8-IC0.5-5bp-mona.rds
results/Archetypes/motif-scores-input-motifs*
results/Archetypes/motif-similarity-PPM-PCC.rds
results/Archetypes/motif-similarity-JSD.pkl
results/Archetypes/motif-similarity-JSD.tsv.gz
results/Archetypes/motif-similarity-PPM-JSD.rds 
results/Archetypes/motifs-similarity-PPM-JSD.rds
results/Archetypes/ChromVAR*/ArchetypesSEACellsMatrix/
results/Archetypes/ChromVAR*/correlation-seacells-archetype-motif-score-gene-expression-metacell.rds
results/Archetypes/ChromVAR*/correlation-seacells-archetype-motif-score-gene-score.rds
results/Clustering/Footprint_Adult_Gastrula_Peaks_SEACell_qnorm.rds
results/Clustering/Sum_Adult_Gastrula_Peaks_SEACell_qnorm.rds
results/GeneScoreMatrix/Matrix-Gene-Scores-SEACell-FC.rds
results/insilicoChIP/cell_type
results/insilicoChIP/metacell
results/insilicoChIP/insilico_chip_binding_score.tsv.gz
results/insilicoChIP/motif_peak_correlation.rds
results/insilicoChIP/peak_accessibility.rds
results/insilicoChIP/peak_TF_expression_correlation.rds
results/GRN/networks/grn_*.tsv
results/GRN/grn_tf_targets_expression_accessibility.rds
results/Metacells/metacell/gene_expression_*.rds
results/Metacells/metacell/gene_scores_*.rds
results/Metacells/metacell/peak_accessibility_genes_*.rds
results/Metacells/metacell/peak_footprint_genes_*.rds
results/Modules/gene-FC*-correlations.rds
results/Modules/gmod.wgcna.softPower*.gene_correlations.rds
results/Modules/gmod.wgcna.softPower*.wgcna.rds
results/Modules/GO/ics-hclust/results
results/Modules/PFAM/ics-hclust/results
results/Peaks/annotaton_promoters_adult.rds
results/Peaks/annotaton_promoters_gastrula.rds
results/Peaks/deeptools/
results/Peaks/Matrix-Adult-Gastrula-Peaks-mapped-qnormalized.rds
results/Peaks/Sum_Adult_Gastrula_Peaks_SEACell_qnorm.rds
results/Syntax/bins/
results/Syntax/motif-hits-novl-PPM-PCC-0.8-IC0.5-5bp-mona-q-0.95.tsv.gz
results/Syntax/motif-hits-all.bed.gz
results/Syntax/motif-co-occurrences-nonovl-PPM-PCC-0.8-IC0.5-5bp-mona-q-0.95.rds
results/Syntax/broad_cell_type/motif-co-occurrences-enrichment-PPM-PCC-0.8-IC0.5-5bp-mona-q-0.95.rds
results/Syntax/broad_cell_type/motif-co-occurrences-enrichment.rds
results/Syntax/cell_type/motif-co-occurrences-enrichment-PPM-PCC-0.8-IC0.5-5bp-mona-q-0.95.rds
results/Syntax/cell_type/motif-co-occurrences-enrichment.rds
results/Syntax/cell_type/motif-co-occurrences-enrichment-*tsv.gz
results/Syntax/cell_type_differential/motif-co-occurrences-enrichment-*tsv.gz
results/Syntax/cell_type_differential/motif-co-occurrences-enrichment-PPM-PCC-0.8-IC0.5-5bp-mona-q-0.95.rds
results/Syntax/motif-co-occurrences-nonovl-PPM-PCC-0.8-IC0.5-5bp-mona-q-0.95-TFs-enr.rds
results/Syntax/motif-co-occurrences-nonovl-PPM-PCC-0.8-IC0.5-5bp-mona-q-0.95-TFs.rds
results/Syntax/motif-combinations-per-cell-type.tsv.gz
results/Syntax/motif-hits-all.bed.gz
results/Syntax/motif-hits-all.tsv.gz
results/Syntax/motif-hits-novl-PPM-PCC-0.8-IC0.5-5bp-mona-q-0.95.rds
results/Syntax/motif-hits-reduced.tsv.gz
results/Syntax/motif-hits-selected.tsv.gz
results/Syntax/q0.8-hits-enrich-assign-motifs-ovl-0.5
results/Syntax/q0.9-hits-enrich-assign-motifs-ovl-0.5
results/Syntax/q0.95-hits-enrich-assign-motifs-ovl-0.5
